* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    min-width: 800px;
    min-height: 500px;
}

.header {
    background-color: #0b3b54;
    height: 76px;
    width: 100%;
    min-width: 800px;
    position: fixed;
    display: flex;
    justify-content: center;
}

.menu {
    width: 800px;
    min-width: 800px;
    display: flex;
    align-items: baseline;
}

.menu a {
    text-decoration: none;
    color: #c9a920;
    margin-top: 24px;
}

.menu a:first-of-type {
    margin-left: 24px;
    font-size: 24px;
    font-weight: bold;
}

.menu a:nth-of-type(2) {
    margin-left: 48px;
}

.menu a:nth-of-type(n+2) {
    margin-right: 12px;
}

.page {
    width: 800px;
    height: 500px;
    margin-top: 76px;
    display: inline-block;
}

.page h1 {
    font-size: 18px;
    font-weight: bold;
    /* margin-left: 24px;
    margin-top: 24px; */
    padding: 24px;
}

.page img {
    margin-left: 24px;
    margin-right: 12px;
    float: left;
}

.page p {
    margin-left: 24px;
    margin-right: 24px;
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
}

.subscribe-block {
    width: 200px;
    height: 150px;
    border: 1px solid black;
    float: right;
    margin-right: 24px;
    margin-left: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.subscribe-block span:nth-of-type(1) {
    margin-top: 24px;
    margin-left: 12px;
}

.subscribe-block span:nth-of-type(2) {
    margin-top: 12px;
    margin-left: 12px;
}

.subscribe-block input:nth-of-type(1) {
    margin-left: 12px;
}

.subscribe-block input:nth-of-type(2) {
    margin-left: 12px;
    margin-top: 12px;
}